.landing {
  position: relative;
  display: flex;
  min-height: 100vh;
  height: auto;
  /* Ensure the landing section itself doesn't allow horizontal leakage */
  width: 100vw; 
  overflow: hidden; 

  img {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .sliderContainer {
    position: absolute;
    width: 100%;
    /* THE CRITICAL FIX: This hides the text that is positioned at left: 100% */
    overflow: hidden; 
    
    // Mobile position
    top: calc(100vh - 200px);
    
    @media (min-width: 768px) {
      top: calc(100vh - 350px);
    }
  }
  
  .slider {
    position: relative;
    white-space: nowrap;
    display: inline-flex;
    will-change: transform;
  }
  
  .slider p {
    position: relative;
    margin: 0;
    color: white;
    font-size: 80px;
    font-weight: 500;
    padding-right: 30px;
    display: inline-block;
    will-change: transform;
    
    @media (min-width: 768px) {
      font-size: 230px;
      padding-right: 50px;
    }
  }
  
  .slider p:nth-of-type(2) {
    position: absolute;
    left: 100%;
    top: 0;
  }

  .description {
    position: absolute;
    color: white;
    font-weight: 300;
    
    // Mobile styles
    left: 10%;
    top: 15%; 
    width: 80%;
    font-size: 16px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    svg {
      transform: scale(1.5);
      margin-bottom: 20px; 
    }
    
    p {
      margin: 5px 0; 
      text-align: left;
    }
  
    // PC styles
    @media (min-width: 768px) {
      top: 35%;
      left: 65%;
      font-size: 24px;
      width: auto;
      
      svg {
        transform: scale(2);
        margin-bottom: 100px;
      }
      
      p {
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }
}
